<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.ProdCommMapper">
  <resultMap id="BaseResultMap" type="com.powernode.domain.ProdComm">
    <!--@mbg.generated-->
    <!--@Table prod_comm-->
    <id column="prod_comm_id" jdbcType="BIGINT" property="prodCommId" />
    <result column="prod_id" jdbcType="BIGINT" property="prodId" />
    <result column="prod_name" jdbcType="VARCHAR" property="prodName" />
    <result column="order_item_id" jdbcType="BIGINT" property="orderItemId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="reply_content" jdbcType="VARCHAR" property="replyContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_sts" jdbcType="INTEGER" property="replySts" />
    <result column="postip" jdbcType="VARCHAR" property="postip" />
    <result column="score" jdbcType="TINYINT" property="score" />
    <result column="useful_counts" jdbcType="INTEGER" property="usefulCounts" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="is_anonymous" jdbcType="INTEGER" property="isAnonymous" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="evaluate" jdbcType="TINYINT" property="evaluate" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    prod_comm_id, prod_id, prod_name, order_item_id, open_id, content, reply_content, 
    create_time, reply_time, reply_sts, postip, score, useful_counts, pics, is_anonymous, 
    `status`, evaluate, shop_id
  </sql>

  <select id="selectProdCommStatic" resultType="com.powernode.vo.ProdCommStatics">
    select prod_id,count(*) all_count,sum(case evaluate when 0 then 1 else 0 end) good_count from prod_comm
    where prod_id in
      <foreach collection="prodIdList" item="prodId" open="(" separator="," close=")">
        #{prodId}
      </foreach>
    group by prod_id
    </select>

  <select id="selectCommSum" resultType="com.powernode.vo.ProdCommVo">
    select IFNULL(prod_id,#{prodId}),
           count(evaluate) number,
           ifnull(sum(case evaluate when 0 then 1 else 0 end),0) praiseNumber,
           ifnull(sum(case evaluate when 1 then 1 else 0 end),0) secondaryNumber,
           ifnull(sum(case evaluate when 2 then 1 else 0 end),0) negativeNumber,
           count(pics) picNumber
    from prod_comm
    where prod_id = #{prodId}

  </select>
</mapper>